# 046d:09a4 Logitech, Inc. QuickCam E 3500 (Logitech E3500)
name: cam1
active: False

dev_fs_mask: 'by-id/usb-046d_09a4_C9469E20-*'

cmd: '''
    exec gst-launch-1.0 \
        v4l2src device=`ls /dev/v4l/''' + $dev_fs_mask + '''` \
            ! videorate \
            ! video/x-raw,framerate=5/1 \
            ! clockoverlay time-format="''' + $name + ''' %Y-%m-%d %H:%M:%S" xpad=0 ypad=60 font-desc="Lucida Console Bold 18" auto-resize=0 shaded-background=1 \
            ! omxh264enc target-bitrate=160000 control-rate=1 \
            ! h264parse \
            ! queue \
            ! mux. \
        alsasrc device=hw:`readlink /dev/snd/''' + $dev_fs_mask + ''' | sed 's/[^0-9]*//g'` \
            ! audioconvert \
            ! rgvolume pre-amp=6.0 headroom=10.0 \
            ! rglimiter \
            ! audioconvert \
            ! audioresample \
            ! audio/x-raw,rate=22050,channels=1 \
            ! queue \
            ! voaacenc bitrate=8000 \
            ! aacparse \
            ! queue \
            ! mux. \
        flvmux name=mux \
            ! rtmpsink location="rtmp://''' + $cam_stream_root + $name + '''"
'''

max_start_seconds: 60
reset_cmd: 'sudo ./usb_reset_by_id.sh /dev/v4l/' + $dev_fs_mask
