cam_cfg_mask: '*.cfg'

log_dir: log
pid_dir: pid
cap_dir: store
cap_dir_cam: $cap_dir + '/[cam_name]'
log_filename: 'main.log'
pid_filename: 'main.pid'
pid_streamer: '[cam_name]_streamer.pid'

# log_level: DEBUG
log_level: INFO

cam_stream_host: '127.0.0.1'
cam_stream_prefix: '/app/'
cam_stream_root: $cam_stream_host + $cam_stream_prefix

cleaner_active: true
cleaner_run_every_minutes: 1
cleaner_max_removes_per_run: '[cams_number]'
cleaner_store_max_gb: 2048
cleaner_store_keep_free_gb: 50
cleaner_force_remove_file_less_bytes: 512
